<div class="modal-header">
  <strong> Email </strong>
</div>
<div class="modal-body">
  <%= form_with(url: audition_path(audition.id)) do |f| %>
    <div id="email-con">
      <%= f.cktext_area :email_description, class: "email--desc" %>
    </div>
  <% end %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary btn-email" data-bs-dismiss="modal">Send Email</button>
</div>
