<span class="btn btn-lg btn-light col">
  <%= status_tabs "status", status %>
  <% if status == "All" %>
    <%= "("+(Audition.all.count).to_s + ")" %>
  <% else %>
    <%= "("+(Audition.find_status(status).count).to_s + ")" %>
  <% end %>
</span>
