<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hello, New audition of artist <%= @audition.artist_name %> has been assigned to you.</p>
  </body>
</html>
